<div>

<form action="/meetings" method="POST">
  <input type="text" name="meeting[leader]" placeholder="Name">
  <input type="text" name="meeting[description]" placeholder="Description">
  <input type="text" name="meeting[time]" placeholder="Time">
  <input type="submit"  value="create new meeting">
</form>

</div>

